.card-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.spinner-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
  }

.error-text {
    padding: 2rem;
    font-size: 2rem;
}